{% block title %}<h4 class="title" ng-bind="title"></h4>{% endblock %}
{% block fields %}
    <div class="fields-wrapper">
        <div class="proportion-field" ng-repeat="field in fields">
            {% block field %}
                <div
                    drf-form-field="field"
                    class="
                        proportion-field-inner
                        {% block field-class %}{% endblock %}
                        {% raw %}{{ form[id].$invalid ? 'has-error' : '' }}{% endraw %}"
                        >
                    {% block input %}
                        AMOUNT ALLOCATED (use for css): {% raw %}{{ total - model[$index] }}{% endraw %}
                        <div class="proportion-input" integer-field model="model[$index]" id="field.id" form="form"></div>
                            <div
                                clearable-rz-slider
                                model="model[$index]"
                                rz-slider-options="optionsPerSlider[$index]"
                                slider-low-label="0%"
                                slider-high-label="100%"
                                ceiling="100"
                            ></div>
                    {% endblock %}
                    {% block percentage %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
